.format-dropdown-container{
    width: 100px;
}

.space-1{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 10px 5px;
    height: 60px;
}

.space-1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.grid-1{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.grid-1 div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    border-top: 1px solid #00000059;
    border-right: 1px solid #00000059;
    background-color: #b9c7c745;
}

#weekdates {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #b9c7c745;
}

